<body class = "trabFinanzas">
    <img class="img-logo" src="../assets/img/TuMonedita.png">
    <img class = "img-fondo" src = "https://media.istockphoto.com/photos/high-angle-perspective-view-of-a-small-piggybank-over-yellow-picture-id1049571132?b=1&k=6&m=1049571132&s=170667a&w=0&h=-j_-T15UbO-zuD40vMQ_ekRIRkldQNZpoy0DaC6ctD4=">
    <div class ="wrapper-box">
        <div class = "right-btn">
            <span>BODEGUERO</span>
            <div class="shine"></div>
        </div>
        <div class = "left-btn" routerLink = "/cuentacredito/1">
            <span>CLIENTE</span>
            <div class="shine2"></div>
        </div>

        <div class = "overlay3">
            <div class = "popup-search3">
                <span class="icon-cross"></span>
                <div class = "popup-content3">
                    <form (ngSubmit) = "loginBodeguero()" #registrarForm="ngForm">
                        <span>Usuario</span>
                        <input type="text" placeholder="Nombre" id = "nombre" [(ngModel)] = "nombre" name ="nombre" autocomplete="off" required pattern="[a-zA-Z]+">
                        <span>Contraseña</span>
                        <input type="text" placeholder="Contraseña" id = "contrasena" [(ngModel)] = "contrasena" name ="contrasena"  autocomplete="off" required pattern="[0-9]{0,}">
                        <button type = "submit" class = "btn-buscar" [disabled]="registrarForm.form.invalid"> 
                            Aceptar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>