<body class = "trabFinanzas">
    <div class = "wrapper-box">
        <h1>DETALLE VENTA</h1>
        <div class = "header-content">
            <div class = "header-left">
                <h3>Cliente: {{venta.cuentaCredito.cliente.nombre}}</h3>
                <h3>Fecha consumo: {{fechaConsumo}}</h3>
            </div>
            <div class = "header-right">
                <h3>Moneda: {{venta.cuentaCredito.moneda}}</h3>
                <h3 *ngIf = "tieneDelivery()">Delivery: Sí</h3>
                <h3 *ngIf = "noTieneDelivery()">Delivery: No</h3>
            </div>
        </div>
        <div class = "table-venta">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-bordered table-striped mb-0">
                  <thead class = "title-table">
                    <tr>
                      <th scope="col">Descripcion</th>
                      <th scope="col">Total</th>
                      <th scope="col">Delivery</th>
                      <th scope="col">Importe</th>
                    </tr>
                  </thead>
                  <tbody class = "content-table">
                    <tr>
                      <td>{{venta.descripcion}}</td>
                      <td>{{venta.total}}</td>
                      <td *ngIf = "tieneDelivery()">5.00</td>
                      <td *ngIf = "noTieneDelivery()">0.00</td>
                      <td>{{venta.importe}}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div class = "footer-btn">
                <span>Imprimir</span>
            </div>
        </div>
    </div>
</body>